* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Heebo", sans-serif;
}

.landing {
  min-height: 100vh;
  background: url(landing.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  color: #ffffff;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.landing-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: #e4a3cf;
}

.landing-div h4 {
  font-size: 2.5rem;
}
.landing-div h2 {
  font-size: 3.5rem;
}

.intro {
  background: #a0006d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: #e4a3cf;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.intro-text {
  color: #e4a3cf;
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}
.hide {
  background: #a0006d;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
